<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="referrer" content="always">
    <title>基于Python的新能源电动汽车使用体验分析系统</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link href="{% static 'css/car-admin-2.min.css' %}" rel="stylesheet">
    {% block link %}{% endblock %}
</head>
<body id="page-top">
<div id="wrapper">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-text">新能源电动汽车</div>
        </a>

        <hr class="sidebar-divider my-0">

        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link" href="car_list">
                <i class="fas fa-fw fa-check-square"></i>
                <span>新能源电动汽车列表</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="car_price">
                <i class="fas fa-fw fa-align-justify"></i>
                <span>纯电续航里程与价格曲线</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="energy_range_min_price">
                <i class="fas fa-fw fa-wrench"></i>
                <span>续航里程和最低价格分析</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="energy_range_max_price">
                <i class="fas fa-fw fa-wrench"></i>
                <span>续航里程和最高价格分析</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="car_subsidy">
                <i class="fas fa-fw fa-wrench"></i>
                <span>电动汽车补贴排行分析</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="car_price_bar">
                <i class="fas fa-fw fa-wrench"></i>
                <span>各个价格区间车型数量分析</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="car_pure_energy_bar">
                <i class="fas fa-fw fa-wrench"></i>
                <span>纯电续航里程车型数量分析</span>
            </a>
        </li>

    </ul>
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <div class="input-group">
                    基于Python的新能源电动汽车使用体验分析系统
                </div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item no-arrow">
                        {{ request.session.user }}
                    </li>
                    <li class="nav-item no-arrow">
                        <a class="dropdown-item" href="logout">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>退出</a>
                    </li>
                </ul>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</div>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<script src="{% static 'js/car-admin-2.min.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>