<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link href="{% static 'css/car-admin-2.min.css' %}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row justify-content-center" >
        <div class="col-xl-10 col-lg-12 col-md-9" >
            <div class="card o-hidden border-0 shadow-lg my-5"  style="background-image:url({% static 'img/logo.jpg' %});background-repeat:repeat-x">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-11" >
                            <div class="p-4">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-5"><b>基于Python的新能源电动汽车使用体验分析系统</b></h1>
                                </div>
                                <form class="user" action="/do_login" method="post">
                                    <div class="form-group">
                                        <label>账&emsp;号：</label><input type="text" style="width:300px"
                                               name="user_account"
                                               placeholder="请输入您的账号">
                                    </div>
                                    <div class="form-group">
                                        <label>密&emsp;码：</label><input type="password" style="width:300px"
                                               name="password" placeholder="请输入您的密码">
                                    </div>
                                    <div class="form-group">
                                        <label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>
                                        <input type="submit" style="width:300px;" value="登录"> <label style="color:red">{{ login_result }}</label>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </form>
                                <hr>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>